$color: (
	// background
	main-background: rgb(235, 235, 235),
	editor-background: white,
	// text color
	main-text: rgb(31, 31, 31),
	// accent
	accent: rgb(0, 132, 209)
);

html {
	height: 100%;

	body {
		margin: 0;
		height: 100%;

		background-color: map-get($map: $color, $key: main-background);
		color: map-get($map: $color, $key: main-text);

		main {
			display: flex;
			height: 100%;

			// タブ
			div.tab {
				width: 150px;

				div.tab-content {
					display: flex;
					align-items: center;
					height: 50px;

					padding-left: 15px;
				}
			}

			// エクスプローラー
			div.explorer {
				display: none;
				width: 150px;

				// ボタン類
				div.explorer-buttons {
					div.explorer-button-newfile {

					}
					div.explorer-button-newfolder {

					}
				}

				// ファイルエクスプローラー
				div#file-explorer {

				}
			}

			// エディタ
			div.editor {
				margin: 20px 0 10px 0;
				width: calc(100% - 150px);
				display: flex;
				flex-direction: row;

				// エディタ本体
				div.editor-main {
					display: flex;
					flex-direction: column;
					width: 100%;

					// ボタン類
					div.editor-buttons {
						margin-bottom: 30px;

						div.editor-button-area {
							display: inline-block;

							&:hover button.editor-button {
								transform: translateY(2px);
								box-shadow: darken(map-get($map: $color, $key: main-background), 50%) 0 2px;

								&::before {
									visibility: visible;
									opacity: 1;
								}
							}
							button.editor-button {
								display: flex;
								justify-content: center;
								align-items: center;
								
								outline: 0;
								margin: 0 5px;
								border: 0;
								border-radius: 3px 3px 0 0;
								padding: 2px 2px;
								box-shadow: darken(map-get($map: $color, $key: main-background), 50%) 0 4px;
								
								background-color: darken(map-get($map: $color, $key: main-background), 25%);
								color: white;
								
								cursor: pointer;
								transition: all .1s;
								
								img {
									width: 32px;
								}

								&#editor-button-compile::before {
									content: 'コンパイル & 実行';
									width: 120px;
								}
								&#editor-button-save::before {
									content: '保存';
									width: 40px;
								}
								&::before {
									display: inline-block;
									position: absolute;
									margin-top: 65px;
									
									pointer-events: none;
									
									background-color: rgba(black, 0.5);
									border-radius: 2px;
									
									transition: all .1s;
									visibility: hidden;
									opacity: 0;
								}
								&:active {
									transform: translateY(4px);
									box-shadow: 0 0;
								}
							}
						}
					}

					// タブ
					div.editor-tabs {
						display: flex;
						flex-direction: row;

						height: 30px;

						div#editor-tab-group {
							display: flex;
							flex-direction: row;

							max-width: calc(100% - 30px);
							height: 30px;

							overflow: scroll hidden;
							
							&::-webkit-scrollbar{
								height: 3px;
							}
							&::-webkit-scrollbar-thumb{
								background: rgb(107, 107, 107);
								border-radius: 2px;
								box-shadow: none;
							}

							div.editor-tab {
								display: flex;
								align-items: center;

								background-color: rgb(196, 196, 196);
								border-radius: 5px 5px 0 0;

								cursor: context-menu;

								transform-origin: left;
								animation: newfile-tab .1s ease-out forwards;

								@keyframes newfile-tab {
									0% {
										min-width: 25px;
										width: 25px;
									}
									100% {
										min-width: 100px;
										width: 100px;
									}
								}

								&.closefile {
									animation: closefile-tab .2s ease;

									@keyframes closefile-tab {
										0% {
											min-width: 100px;
											width: 100px;
										}
										100% {
											min-width: 0;
											width: 0;
										}
									};
								}

								span {
									margin-left: 10px;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
								}

								button.editor-button-closefile {
									display: flex;
									align-items: center;
									justify-content: center;
									
									width: 20px;
									height: 20px;
									margin: 0 5px 0 auto;
									padding: 0;

									border: none;
									border-radius: 50%;
									outline: 0;
									background-color: transparent;

									cursor: pointer;

									img {
										width: 12px;
									}
								}
								
								&.selected {
									background-color: white;
								}

								// 横線
								&:not(:first-of-type)::before {
									content: '';
									display: inline-block;
									position: absolute;

									margin-top: 1px;

									width: 2px;
									height: 20px;

									background-color: rgb(241, 241, 241);
								}
								&.selected + div::before {
									display: none;
								}
							}
						}

						div.editor-tab-button {
							display: flex;
							justify-content: center;
							align-items: center;
	
							width: 30px;

							button#editor-button-newfile {
								display: flex;
								justify-content: center;
								align-items: center;

								width: 80%;
								height: 80%;

								background-color: transparent;
								border: none;
								border-radius: 50%;
								outline: 0;
								padding: 0;

								cursor: pointer;

								transition: background-color .3s;

								&:hover {
									background-color: rgb(219, 219, 219);
								}
								
								img {
									width: 20px;
								}
							}
						}
					}
					
					// エディタ本体
					div.CodeMirror {
						width: 100%;
						height: 100%;
						left: -30px;

						font-family: 'Consolas';
						font-size: 14px;

						cursor: text;

						div.CodeMirror-lines {
							padding: 0;

							div.CodeMirror-cursor {
								height: 20px!important;
								border-left: solid 2px rgb(43, 43, 43);
							}

							div.CodeMirror-code {
								div {
									height: 20px;
									line-height: 20px;
								}
							}
						}
						div.CodeMirror-linenumber {
							color: lighten(map-get($map: $color, $key: main-text), 20%);
						}
						div.CodeMirror-gutters {
							background-color: map-get($map: $color, $key: main-background);
							cursor: default;
						}
					}

					// 出力
					div.editor-output {
						width: calc(100% - 30px);
						height: 200px;

						P {
							margin-bottom: 5px;
							height: 20px;
						}

						div#editor-output {
							display: flex;
							flex-direction: column-reverse;

							height: 160px;
							overflow: hidden scroll;

							background-color: map-get($map: $color, $key: editor-background);

							font-size: 14px;

							div {
								display: flex;
								align-items: center;
								padding: 3px 10px;

								span.output-timestamp {
									margin-left: auto;
									color: rgb(175, 175, 175);
								}

								&:hover {
									background-color: whitesmoke;

									span.output-timestamp { color: rgb(102, 102, 102); }
								}
							}
							div.err { color: rgb(216, 0, 0); }
							div.log { color: rgb(59, 59, 59); }
							div.info { color: rgb(0, 168, 0); }
						}
					}
				}
			}
		}
	}
}