@mixin error {
	background-color: #fdd;
	border: solid #f99 1px;
}

form {
	display: flex;
	flex-direction: column;

	.form-group {
		margin: 10px 0 15px 0;

		&::after {
			display: block;
		}

		&.required label::after {
			content: '*';
			color: #c00;
			margin-left: 5px;
		}

		&.invalid {
			label, .feedback  {
				color: #c00;
			}
			.feedback {
				display: block;

				&::before {
					border-bottom-color: #f99;
				}
				&::after {
					border-bottom-color: #fdd;
				}
			}
			input {
				border: solid #c00 1px;
			}
		}
		&.valid {
			.feedback {
				color: #0c0;
				display: block;
			}
		}

		input::placeholder {
			color: rgb(187, 187, 187);
		}

		.feedback {
			display: none;
			position: absolute;
			margin-top: 5px;
			border-radius: 3px;
			padding: 0 5px;
			@include error();
			@include hover();

			&::before, &::after {
				content: '';
				position: absolute;
				left: 10px;
				bottom: calc(100% + 1px);
				border: solid transparent 5px;
			}
			&::after {
				left: 10px;
				bottom: 100%;
				border: solid transparent 5px;
			}
		}

		.note {
			display: block;
			margin-left: 5px;
		}
	}
	
	button {
		margin: 10px 0 10px 0;
	}

	.suggestions {
		display: inline-block;
		margin: 0 auto;
	}
}
